@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Robot:400,100);

body {
    background-color: #FFFFFF;
    padding: 20px;
}

#myQuiz {
    font-family: 'Robot', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 650px;
    height: 650px;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    background: #000 url(../images/background.jpg) no-repeat 0px 0px;
}

#myQuiz h2 {
    font-size: 3em;
    margin: 0px;
    font-weight: 100;
}

#myQuiz h3 {
    font-size: 2.4em;
    margin: 0px;
    font-weight: 100;
}

#myQuiz p {
    margin: 0px 0px 14px 0px;
}

#myQuiz .btn {
    display: inline-block;
    cursor: pointer;
    background-color: #C04B01;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 6px;
}

/* Intro */

#myQuiz .intro {
    position: relative;
    top: 225px;
    left: 660px;
    width: 550px;
}

#myQuiz .intro p {
    margin: 0px 0px 40px 0px;
}